.git
.github
.storybook
base
config_frontend
coverage
dist
docs
ingress
node_modules
overlays
packages/components/dist
packages/components/node_modules
packages/utils/dist
tekton
test
testdata
vendor
