# compiled output
/coverage
/cmd/dashboard/kodata/
/storybook-static
/tmp
main

# config
.npmrc

# dependencies
node_modules/
/vendor
/node-*

# misc
debug-storybook.log
npm-debug.log
yarn-error.log
stats.html
stats.json
.vscode/

# System Files
.DS_Store
Thumbs.db

/dashboard

# e2e
packages/e2e/cypress/downloads
packages/e2e/cypress/results
packages/e2e/cypress/screenshots
packages/e2e/cypress/videos

# local package builds
*.tgz
