# compiled output
/coverage
dist/
/cmd/dashboard/kodata/
/storybook-static
/tmp
main

# config
.npmrc

# dependencies
node_modules/
/vendor
/node-*

# misc
npm-debug.log
yarn-error.log
stats.json

# System Files
.DS_Store
Thumbs.db

csrf_headers.txt
/dashboard
