# Copyright 2020 The Tekton Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/200-clusterrole-backend.yaml
  - ../../../base/200-clusterrole-dashboard.yaml
  - ../../../base/200-clusterrole-pipelines.yaml
  - ../../../base/200-clusterrole-tenant.yaml
  - ../../../base/200-clusterrole-triggers.yaml
  - ../../../base/201-clusterrolebinding-backend.yaml
  - ../../../base/202-extension-crd.yaml
  - ../../../base/203-serviceaccount.yaml
  - ../../../base/300-deployment.yaml
  - ../../../base/300-service.yaml
images:
  - name: dashboardImage
    newName: ko://github.com/tektoncd/dashboard/cmd/dashboard
patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: tekton-dashboard
      namespace: tekton-pipelines
    path: ../../patches/installer/deployment-patch.yaml
namespace: tekton-dashboard
