name: Slash Command Routing

permissions:
  contents: read

on:
  issue_comment:
    types: [created]

jobs:
  check_comments:
    if: ${{ github.event.issue.pull_request }}
    permissions:
      issues: write # for peter-evans/slash-command-dispatch to create issue reaction
      pull-requests: write # for peter-evans/slash-command-dispatch to create PR reaction
    uses: tektoncd/plumbing/.github/workflows/_slash.yml@48c53b4e7f1e0bb206575b80eb9fcf07b5854907
    secrets: inherit
